extends layout 
block append scripts 
    script(src="/script/editPartner.js" defer)
block append css 
    link(rel='stylesheet', href='/css/partner.css', type='text/css' )
block content 
    h1.headline Rediger Samarbejdspartner
    div.partner(id= `${companyPartner.id}`)
        div.info
            div.inputRow
                label.formLabel(for="companyName") Firmanavn: 
                input.formField(id="companyName", type="text",placeholder="Firmanavn", value=`${companyPartner.data().companyName}`)
            div.inputRow
                label.formLabel(for="companyAddress") Adresse:
                input.formField(id="companyAddress", type="text",placeholder="Adresse", value=`${companyPartner.data().companyAddress}`)
            div.inputRow
                label.formLabel(for="companyEmail") Email: 
                input.formField(id="companyEmail", type="text", placeholder="Email", value=`${companyPartner.data().companyEmail}`)
            div.inputRow
                label.formLabel(for="companyPhone") Telefon: 
                input.formField(id="companyPhone", type="text", placeholder="Telefon", value=`${companyPartner.data().companyPhone}`)
        div.message
            p#message
        div.contracts
            h2.contractsHeader Kontrakter:
            div.wrapper
                div.contractsList#contracts
                    if contracts
                        each contract, index in contracts
                            div.contractItem(id=`${contract.description}_${contract.startDate}_${contract.endDate}_${contract.netPrice}`)
                                p=`${contract.description}\n${contract.startDate} - ${contract.endDate}\n${contract.netPrice}kr.`
            div.contractsForm
                div.inputRow
                    label.formLabel(for="contractDesc") Beskrivelse: 
                    input.contractField(id="contractDesc", type="text",placeholder="Beskrivelse")
                div.inputRow
                    label.formLabel(for="contractStart") Startdato: 
                    input.contractField(id="contractStart", type="date",placeholder="")
                div.inputRow
                    label.formLabel(for="contractEnd") Slutdato: 
                    input.contractField(id="contractEnd", type="date", placeholder="")
                div.inputRow
                    label.formLabel(for="contractPrice") Pris: 
                    input.contractField(id="contractPrice", type="number", placeholder="Pris")
            button#deleteContract(class="greenButton formButton") Slet kontrakt
            button#addContract(class="greenButton formButton") Tilføj kontrakt
            button.greenButton.formButton#savePartner Gem Ændringer
    